@model DbBook.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.press)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.press)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookInfo.author_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookInfo.author_info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookInfo.content_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookInfo.content_info)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.isbn }) |
    @Html.ActionLink("Back to List", "Index")
</p>
