@using DbBook.ViewModels;
@model BookDetailItem

@{
    string cover_url = "/Images/cover/book_" + Model.isbn.ToString() + ".jpg";
    string comment_url = "/User/ViewBookComments?isbn=" + Model.isbn;
}

<br>
<div class="container clearfix" id="basic_info">
    <h3 class="font-weight-bold mb-3">@Model.title</h3>
    <div id="cover" class="float-left mr-3">
        <a href="@cover_url" title="@Model.title">
            <img src="@cover_url" title="点击看大图" alt="@Model.title" style="width:135px;max-height:200px;">
        </a>
        <br>
    </div>
    <div id="info" class="float-left" style="font-size:18px">
        <span class="font-weight-light">书名:</span> @Model.title<br>
        <span class="font-weight-light">作者:</span> @Model.authors<br>
        <span class="font-weight-light">出版社:</span> @Model.press<br>
        <span class="font-weight-light">出版年:</span> @Model.pdate.GetValueOrDefault().GetDateTimeFormats('y')[0].ToString()<br>
        <span class="font-weight-light">页数:</span> @Model.price<br>
        <span class="font-weight-light">定价:</span> @Model.price 元<br>
        <span class="font-weight-light">ISBN:</span> @Model.isbn<br>
    </div>
    <!-- 书籍评分 -->
    @{ 
        int[] cs = ViewBag.CommentScore;
        double avg_star = (cs[1] * 1 + cs[2] * 2 + cs[3] * 3 + cs[4] * 4 + cs[5] * 5) / (double)(ViewBag.CommentsNum);
        double avg_score = (int)((avg_star + 5) * 10 + 0.5) / 10.0;
    }
    <div class="float-right" style="width:300px;" id="chart"></div>
    <div class="float-right mr-5">
        <br>
        <h1 class="font-italic">@avg_score</h1>
        <div class="star_show mr-2" data-score="@avg_star" style="width: 100px;"></div>
        <span class="font-italic small">共 @ViewBag.CommentsNum 人评分</span>
    </div>
    <div hidden="hidden" id="chart_data">@{Write(cs[5]); Write(','); Write(cs[4]); Write(','); Write(cs[3]); Write(','); Write(cs[2]); Write(','); Write(cs[1]);}</div>
</div>

<br>
<div class="container clearfix" id="user_comment">
    <span>评价:&nbsp;</span>
    <span id="star_preview" data-toggle="modal" data-target="#myModal"></span>&nbsp;&nbsp;
    <span id="hint_preview" class="font-italic"></span>
</div>

<br>
<div class="container" id="detail_info">
    <h5><span class="text-info">内容简介&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</span></h5>
    <pre style="white-space:pre-wrap; word-wrap:break-word; font-size:16px;" class="blockquote">@Model.content_info</pre>
    <h5><span class="text-info">作者简介&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</span></h5>
    <pre style="white-space:pre-wrap; word-wrap:break-word; font-size:16px;" class="blockquote">@Model.author_info</pre>
</div>

<div class="container" id="comments">
    <h5>
        <span class="text-info">短评&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</span>
        <span class="font-weight-light" style="font-size:16px">
            <a href="@comment_url">(全部 @ViewBag.CommentsNum 条)</a>
        </span>
    </h5>
    @foreach (var cmt in (List<CommentItem>)ViewBag.PartComments)
    {
        @Html.Partial("/Views/Items/CommentItem.cshtml", cmt);
    }
    ><a href="@comment_url">所有短评 (@ViewBag.CommentsNum 条)</a>
</div>


<!-- 用户提交评论 -->
<!-- 模态框 用于用户提交评论 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">评价书籍</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            @using (Html.BeginForm())
            {
                <div class="modal-body">
                    <div class="container clearfix">
                        <div class="form-group">
                            <label for="star">评分:</label>
                            <span id="star"></span>&nbsp;&nbsp;
                            <span id="hint" class="font-italic"></span>
                        </div>
                        <div class="form-group">
                            <label for="comment">评论:</label>
                            <textarea class="form-control mr-0" rows="5" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
<script>
    data = {
        labels: ["5星", "4星", "3星", "2星", "1星"],
        datasets: [
            { values: $('#chart_data').html().split(',').map(Number) }
        ]
    }
    new frappe.Chart("#chart", {
        data: data,
        type: 'bar',
        height: 200,
        title: '用户评分',
        colors: ['yellow'],
        barOptions: {
            spaceRatio: 0.1 // default: 1
        },
    });
</script>